body
{

}
.imagen-perfil {
    width: 50px; /* Cambia el tamaño según tus necesidades */
    height: 50px; /* Cambia el tamaño según tus necesidades */
    margin-right: 10px; /* Espacio entre imágenes */
    margin-bottom: 10px; /* Espacio entre filas de imágenes */
}
