.imagen-perfil {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
}

div[class*="col"] {
    margin: 1vh 0 1vh 0;
}

.tarjeta {
    border-radius: 3vh;
    padding: 2vh 3vh 2vh 3vh;
    background-color: var(--grey);
}

.icon {
    height: 1.25rem;
}

/* Estilos para la login page */
.login-page > a {
    text-decoration: none;
}

.login-page {
    width: 100%;
    height: 100vh;
    display: inline-block;
    display: flex;
    align-items: center;
}

.form-right i {
    font-size: 100px;
}
