/*Fuente*/
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');


* {
    color: #FFFFFFFF;
    font-family: 'Inknut Antiqua', serif;
    font-weight: 300;
    font-size: 10pt;
}
/* Estilos para la login page */
.login-page > a {
    text-decoration: none;
}

.form-right i {
    font-size: 100px;
}

.tarjeta {
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.45);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.1px);
    -webkit-backdrop-filter: blur(6.1px);
    border: 1px solid rgba(0, 0, 0, 0.45);
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 15px 20px;
    padding: 20px;
}

.nav-link {
    color: #FFFFFF;
    font-family: 'Inknut Antiqua', serif;
    font-weight: 700;
    font-size: 14pt;
}

.text-glass {
    color: #FFFFFF;
    font-family: 'Inknut Antiqua', serif;
    font-weight: 300;
    font-size: 14pt;
}

.bg-glass {
    background: rgba(0, 0, 0, 0.45);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.1px);
    -webkit-backdrop-filter: blur(6.1px);
    border: 1px solid rgba(0, 0, 0, 0.45);
}

.scrollable-panel {
    max-height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
}
body {
    background: url(../Img/bgTabern.jpeg) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}
